body {
    margin: 0 auto;
    font-family: "Smythe", system-ui;
    width: 700px;
}

header{
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 5px;
    height: 150px;
    background-image: url(hamberger.jpg);
    color: #FFFFFF;
}

header h1 {
    font-weight: 900
}

.item {
    margin-top: 40px;
}

.item-emoji {
    font-size: 72px;
    margin: 12px 20px;
}

.item-name {
    font-size: 32px;
    margin: 0;
}

.item-ingredients {
    color: #8B8B8B;
    font-size: 16px;
    margin: 10px 0;
}

.item-price {
    font-size: 24px;
    margin: 0;
}

.item-emoji {
    float: inline-start;
    padding-right: 10px;
}

i {
    float: inline-end;
    font-size: 40px;
    margin-right: 50px;
}

hr {
    color: #D2D2D2;
    margin-top: 50px;
}

.food {
    display: flex;
    justify-content: space-between;
}

.food-name, .food-price {
    font-size: 32px;
    font-weight: 0;
}

 .remove-btn {
    border: none;
    background: none;
    color: #BBBBBB;
    cursor: pointer;
 }

 #title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
 }

 #total-hr {
    color: black;
    background-color: black;
    height: 3px;
    font-weight: 700;
 }

 .total-detail {
    display: flex;
    justify-content: space-between;
 }

 #total-price, #total-title {
    font-size: 32px;
    font-weight: 0;
 }

 #pay-btn {
    width: 700px;
    padding: 20px 100px;
    border: none;
    background-color: #16DB99;
    color: white;
    font-weight: 700;
    font-size: 24px;
 }

 .payment-section {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 150px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
 }

 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .payment-section h3 {
    font-size: 36px;
 }

input {
    padding: 20px;
    width: 280px;
    margin: 10px;
 }

 #submit-payment-btn{
    border: none;
    background-color: #16DB99;
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    width: 150px;
    border-radius: 40px;
    margin-top: 5px;
 }


